<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- ................................................................. -->
<!-- SAMPLE testng.xml file with  ReportNG integration                 -->
<!-- ................................................................. -->
<suite name="test-suite">
    <test name="Test Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.TC01_LoginWithValidAccount"/>
            <class name="tests.TC02_LoginWithBlankUsername"/>
            <class name="tests.TC03_LoginWithInvalidPassword"/>
            <class name="tests.TC04_CheckContactEmailAddressHref"/>
            <class name="tests.TC06_CheckAdditionalPageIsDisplayed"/>
            <class name="tests.TC07_RegisterWithValidData"/>
            <class name="tests.TC10_ResetPasswordWithIncorrectEmail"/>
        </classes>
    </test>

    <test name="Test Firefox">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.TC01_LoginWithValidAccount"/>
            <class name="tests.TC02_LoginWithBlankUsername"/>
            <class name="tests.TC03_LoginWithInvalidPassword"/>
            <class name="tests.TC04_CheckContactEmailAddressHref"/>
            <class name="tests.TC06_CheckAdditionalPageIsDisplayed"/>
            <class name="tests.TC07_RegisterWithValidData"/>
            <class name="tests.TC10_ResetPasswordWithIncorrectEmail"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>
